* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	color: #222222;
}
.container {
	margin: 10px;
}

body::before {
	content: '';
	background-image: url('https://github.githubassets.com/images/modules/site/patterns/contribution-graph.svg');
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.7;
	z-index: -20;
}

.center {
	text-align: center;
}

header {
	display: grid;
	grid-template-columns: auto auto;
}
header > div {
	margin: auto 0;
}

.no-link {
	text-decoration: none;
	cursor: pointer !important;
	box-shadow: 3px 5px 4px #dddddd;
}

.only-desktop {
	display: block;
}
.only-mobile {
	display: none;
}
.contact-me-icon {
	width: 40px;
	transform: rotate(-40deg);
}

@media only screen and (max-width: 425px) {
	.only-desktop {
		display: none;
	}
	.only-mobile {
		display: block;
	}
	.contact-me-icon {
		width: 30px;
	}
}
