* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.slide {
	height: 100vh;
	overflow: hidden;
}

.slide > h1 {
	position: relative;
	top: 50%;
	left: 50%;
	text-align: center;
	white-space: nowrap;
	transform: translate(-50%, -50%);
}

#slide-1 {
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	background: crimson;
	transition: width 0.5s ease-out;
}
